:root {
    --basic-white: #ffffff;
    --basic-black: #000000;
    --basic-yellow: #FFC907;
    --basic-text: #A1B1CB;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: var(--basic-text);

}

img {
    height: auto;
}

.page {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    background-color: var(--basic-black);
}

/* HEADER */

.header {
    background: linear-gradient(90.53deg, rgba(0, 0, 0, 0.75) 0.45%, rgba(102, 80, 165, 0.75) 105.51%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);

    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper {
    display: flex;
    align-items: center;
}

.header-title {
    font-family: 'Griffy', cursive;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.35;
    color: var(--basic-yellow);

    margin: 0;
    margin-right: 60px;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
}

.nav-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: var(--basic-text);

    display: block;
    padding: 10px 20px;

    cursor: pointer;
    transition-duration: 0.3s;
}

.nav-link:hover,
.nav-link:focus {
    background: #3B567D;
    border-radius: 18.5px;
    color: var(--basic-white);
}

.nav-link:active {
    box-shadow: inset 0px 2px 2px var(--basic-black);
}

.search-wrapper {
    width: 25%;
}

.search {
    position: relative;
    display: flex;
}

.search-input {
    background: #3B567D;
    border-radius: 18.5px;

    padding: 8px 20px;
    width: 100%;
    outline: none;
    border: none;

    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #A2B3CD;

    cursor: pointer;
    transition-duration: 0.3s;
}

.search-input::placeholder {
    font-family: 'Montserrat';
    text-transform: capitalize;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    
    color: #A2B3CD;
}

.search-svg {
    position: absolute;
    top: 7px;
    right: 15px;
}

.search-input:focus {
    box-shadow: 0px 0px 5px 3px #A2B3CD;
}

.search:focus-within > .search-svg {
    display: none;
}

.clear-btn {
    display: none;
    background: transparent;
    position: absolute;
    top: 7px;
    right: 10px;
    border: none;

    cursor: pointer;
    transition-duration: 0.3s;
}

.clear-btn:hover .clear-svg{
    transform: scale(1.2);
}

.search:focus-within > .clear-btn {
    display: block;
}

/* FOOTER */

.footer {
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.github-link,
.rs-link {
    cursor: pointer;
    transition-duration: 0.3s;
}

.github-link path,
.rs-link path {
    fill: var(--basic-text);
}

.github-link:hover,
.github-link:focus,
.rs-link:hover,
.rs-link:focus {
    transform: scale(1.3);
}

.github-link:active path,
.rs-link:active path {
    fill: var(--basic-yellow);
}

.text-copyright {
    font-family: inherit;
    font-size: 20px;

    margin: 0;
}

/* POPULAR */

.popular,
.search-results {
    margin: 40px;
}

.popular-list {
    margin: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 40px;
}

.search-list {
    margin: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 40px;
}

.movie-item {
    display: flex;
    flex-direction: column;
    width: 200px;
    box-shadow: 0.5px 0.5px 3px var(--basic-yellow);
}

.movie-poster {
    width: 200px;
    height: 100%;
    filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.36));
    border-radius: 7px;
}

.movie-details {
    padding: 10px;
}

.movie-title {
    color: var(--basic-white);
    margin: 0;
    margin-bottom: 5px;
}

.movie-date {
    margin: 0;
    margin-bottom: 5px;
    font-size: 11px;
    line-height: 13px;

    color: #AFAFAF; 
}

.movie-rate {
    color: var(--basic-yellow);
    font-size: 11px;
    line-height: 13px;

    display: flex;
}

.imbd-img {
    margin-right: 5px;
}

.imbd-rate {
    margin: 0;
}

.movie-description {
    display: flex;
    justify-content: space-between;
}

.movie-favorite {
    width: 14px;
    height: 14px;

    background-color: transparent;
    border: none;
    background-image: url(../images/heart.svg);
    background-position: center center;
    background-repeat: no-repeat;

    cursor: pointer;
    transition-duration: 0.3s;
}

.movie-favorite:hover,
.movie-favorite:focus {
    transform: scale(1.2);
}

.movie-favorite-red {
    background-image: url(../images/heart_red.svg);
}

/* MEDIA */

@media screen and (max-width: 900px) {

    .header-title {
        margin-right: 30px;
    }
}

@media screen and (max-width: 768px) {

    .header {
        padding: 20px 25px;
    }

    .header-title {
        margin-right: 10px;
        font-size: 28px;
    }

    .nav-link {
        font-size: 14px;
        padding: 5px 10px;
    }

    .search-input {
        font-size: 12px;
    }

    .search-input::placeholder {
        font-size: 12px;
    }

    .clear-btn {
        top: 4px;
        right: 0px;
    }

    .github-link,
    .rs-link {
        transform: scale(0.8);
    }

    .text-copyright {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {

    .header {
        padding: 15px 15px;
    }

    .header-title {
        margin-right: 10px;
        font-size: 24px;
    }

    .nav-link {
        font-size: 12px;
        padding: 5px 10px;
    }

    .footer {
        padding: 20px 40px;
    }

}

@media screen and (max-width: 480px) {

    .header {
        padding: 10px 10px;
    }

    .header-title {
        margin-right: 10px;
        font-size: 16px;
    }

    .nav-link {
        font-size: 10px;
        padding: 5px 8px;
    }

    .search-input {
        padding: 4px 8px;
        font-size: 10px;
    }

    .search-input::placeholder {
        font-size: 10px;
    }

    .search-svg {
        top: 0;
        right: 5px;
        width: 15px;
    }

    .clear-btn {
        top: 2px;
    }

    .clear-svg {
        width: 15px;
        height: 15px;
    }

    .author-name {
        display: none;
    }
}

@media screen and (max-width: 391px) {

    .nav-link {
        font-size: 8px;
    }

    .search-wrapper {
        width: 20%;
    }

    .search-input {
        font-size: 8px;
    }

    .search-input::placeholder {
        font-size: 8px;
    }

    .header-title {
        margin-right: 5px;
    }

    .search-svg {
        display: none;
    }

    .clear-btn {
        top: -2px;
    }

    .clear-svg {
        width: 10px;
        height: 10px;
    }

    .footer {
        padding: 0px 10px;
    }

    .text-copyright {
        font-size: 10px;
    }

    .github-link,
    .rs-link {
        transform: scale(0.5);
    }
}