:root {
    --basic-white: #ffffff;
    --basic-black: #000000;
    --basic-yellow: #FFC907;
    --basic-text: #A1B1CB;
    --input-color: #A2B3CD;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: var(--basic-text);

}

img {
    height: auto;
}

.page {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    background-color: var(--basic-black);
}

/* HEADER */

.header {
    background: linear-gradient(90.53deg, rgba(0, 0, 0, 0.75) 0.45%, rgba(102, 80, 165, 0.75) 105.51%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);

    padding: 30px 40px;
    position: relative;
    z-index: 5;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper {
    display: flex;
    align-items: center;
}

.header-title {
    font-family: 'Griffy', cursive;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.35;
    color: var(--basic-yellow);

    margin: 0;
    margin-right: 60px;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
}

.nav-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: var(--basic-text);

    display: block;
    border-radius: 18.5px;
    padding: 10px 20px;

    cursor: pointer;
    transition-duration: 0.3s;
}

.nav-link:hover,
.nav-link:focus {
    background: #3B567D;
    color: var(--basic-white);
}

.nav-link:active {
    box-shadow: inset 0px 2px 2px var(--basic-black);
}

.search-wrapper {
    width: 25%;
}

.search {
    position: relative;
    display: flex;
}

.search-input {
    background: #3B567D;
    border-radius: 18.5px;

    padding: 8px 20px;
    width: 100%;
    outline: none;
    border: none;

    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: var(--input-color);

    cursor: pointer;
    transition-duration: 0.3s;
}

.search-input::placeholder {
    font-family: 'Montserrat';
    text-transform: capitalize;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    
    color: var(--input-color);
}

.search-svg {
    position: absolute;
    top: 7px;
    right: 15px;
}

.search-input:focus {
    box-shadow: 0px 0px 5px 3px var(--input-color);
}

.search:focus-within > .search-svg {
    display: none;
}

.clear-btn {
    display: none;
    background: transparent;
    position: absolute;
    top: 7px;
    right: 10px;
    border: none;

    cursor: pointer;
    transition-duration: 0.3s;
}

.clear-btn:hover .clear-svg{
    transform: scale(1.2);
}

.search:focus-within > .clear-btn {
    display: block;
}

/* MAIN */

.section-title {
    margin: 0;
    margin-left: 80px;
    padding-top: 20px;

    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
}

/* FOOTER */

.footer {
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0px 2px 10px var(--basic-yellow);
}

.github-link,
.rs-link {
    cursor: pointer;
    transition-duration: 0.3s;
}

.github-link path,
.rs-link path {
    fill: var(--basic-text);
}

.github-link:hover,
.github-link:focus,
.rs-link:hover,
.rs-link:focus {
    transform: scale(1.3);
}

.github-link:active path,
.rs-link:active path {
    fill: var(--basic-yellow);
}

.text-copyright {
    font-family: inherit;
    font-size: 20px;

    margin: 0;
}

/* POPULAR */

.popular,
.search-results {
    position: relative;
    z-index: 5;

    background: rgba(11, 15, 22, 0.47);
    box-shadow: 0px -8px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12.5px);
    border-radius: 24px;
}

.popular {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.popular-list {
    margin: 0;
    padding: 40px;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 40px;
}

.search-list {
    margin: 0;
    padding: 40px;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 40px;
}

.movie-item {
    display: flex;
    flex-direction: column;

    width: 200px;
    box-shadow: 0.5px 0.5px 3px var(--basic-yellow);
}

.movie-item:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.4s;
    box-shadow: 0px 0px 5px 3px rgba(162, 179, 205, 0.5);
}

.movie-wrapper-link {
    display: block;
    position: relative;

    font-size: 0;
}

.movie-overview {
    display: none;
    position: absolute;
    bottom: 10px;

    width: calc(100% - 5px);
    margin-left:5px;

    font-weight: 600;
    font-size: 12px;
    color: var(--basic-white);
}

.movie-item:hover .movie-overview{
    display: -webkit-box;
    -webkit-line-clamp: 14;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-poster {
    width: 200px;
    height: auto;
    min-height: 300px;

    filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.36));
    border-radius: 7px;

    font-size: 16px;
    color: var(--basic-white);
    text-decoration: none;
}

.movie-item:hover .movie-poster {
    filter: brightness(50%);
    backdrop-filter: blur(12.5px);
}

.movie-details {
    padding: 10px;
}

.movie-title {
    display: block;
    margin: 0;
    margin-bottom: 10px;

    color: var(--basic-white);
    text-decoration: none;
}

.movie-title:hover,
.movie-title:focus {
    color: var(--basic-yellow);
}

.movie-date {
    margin: 0;
    margin-bottom: 5px;
    font-size: 11px;
    line-height: 13px;

    color: #AFAFAF; 
}

.movie-rate {
    color: var(--basic-yellow);
    font-size: 11px;
    line-height: 13px;

    display: flex;
}

.imbd-img {
    margin-right: 5px;
}

.imbd-rate {
    margin: 0;
}

.movie-description {
    display: flex;
    justify-content: space-between;
}

.movie-favorite {
    width: 14px;
    height: 14px;

    background-color: transparent;
    border: none;
    background-image: url(../images/heart.svg);
    background-position: center center;
    background-repeat: no-repeat;

    cursor: pointer;
    transition-duration: 0.3s;
}

.movie-favorite:hover,
.movie-favorite:focus {
    transform: scale(1.2);
}

.movie-favorite-red {
    background-image: url(../images/heart_red.svg);
}

/* TOP FILM */

.top-film {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}

.top-movie-title {
    text-decoration: none;
    font-family: 'Griffy', cursive;
    font-weight: 400;
    font-size: 40px;
    color: var(--basic-yellow);

    display: block;
    margin-bottom: 15px;
}

.top-film .movie-title:hover,
.top-film .movie-title:focus {
    color: var(--basic-white);
}

.top-movie-poster {
    position: absolute;
    margin-top: -110px;
    max-width: 1440px;
    width: 100%;
    height: 1110px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
}

.top-movie-description {
    position: relative;
    z-index: 5;
    padding: 100px 200px 100px 100px;
    max-width: 600px;
    box-sizing: content-box;
}

.top-movie-overview {
    font-size: 14px;
    color: var(--basic-white);

    margin: 0;
}

.movie-genres {
    font-size: 16px;
    margin: 15px 0px;
}

.top-movie-details {
    display: flex;
}

.watch {
    color: var(--basic-white);
    text-transform: uppercase;

    padding: 13px 23px;
    margin-right: 10px;
    background: #5436A9;
    border-radius: 30px;

    display: flex;
    align-items: center;
    
    cursor: pointer;
    transition-duration: 0.3s;
}

.watch:hover, 
.watch:focus {
    background: #3B567D;
}

.watch:active {
    box-shadow: inset 0px 2px 2px var(--basic-black);
}

.watch span {
    margin-right: 20px;
}

.add-favorite {
    color: var(--basic-white);
    text-transform: uppercase;
    font-weight: inherit;
    line-height: inherit;

    padding: 13px 23px;

    background: #5C5C5C;
    border: none;
    border-radius: 30px;

    display: flex;
    align-items: center;

    cursor: pointer;
    transition-duration: 0.3s;
}

.add-favorite:hover,
.add-favorite:focus {
    background: #3B567D;
}

.add-favorite:active {
    box-shadow: inset 0px 2px 2px var(--basic-black);
}

.add-favorite span {
    margin-right: 20px;
}

.top-movie-rate {
    display: flex;
    margin-top: 25px;
    align-items: center;
}

.top-imbd-img { 
    width: 54px;
    height: 27px;
    margin-right: 10px;
}

.top-imbd-rate {
    margin: 0;
    margin-right: 40px;
}

.top-movie-date {
    margin: 0;
}

/* MEDIA */

@media screen and (max-width: 900px) {

    .header-title {
        margin-right: 30px;
    }

    .top-movie-title {
        font-size: 36px;
    }
}

@media screen and (max-width: 768px) {

    .header {
        padding: 20px 25px;
    }

    .header-title {
        margin-right: 10px;
        font-size: 28px;
    }

    .nav-link {
        font-size: 14px;
        padding: 5px 10px;
    }

    .search-input {
        font-size: 12px;
    }

    .search-input::placeholder {
        font-size: 12px;
    }

    .clear-btn {
        top: 4px;
        right: 0px;
    }

    .top-movie-poster {
        height: 960px;
    }

    .top-movie-description {
        padding: 50px 100px 50px 50px;
    }

    .top-movie-title {
        font-size: 32px;
    }

    .top-movie-overview {
        font-size: 12px;
    }

    .movie-genres {
        font-size: 14px;
        margin: 10px 0px;
    }

    .top-film {
        font-size: 16px;
    }

    .top-movie-details svg {
        transform: scale(0.9);
    }

    .github-link,
    .rs-link {
        transform: scale(0.8);
    }

    .text-copyright {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {

    .header {
        padding: 15px 15px;
    }

    .header-title {
        margin-right: 10px;
        font-size: 24px;
    }

    .nav-link {
        font-size: 12px;
        padding: 5px 10px;
    }

    .top-film {
        font-size: 12px;
    }

    .top-movie-title {
        font-size: 30px;
    }

    .top-movie-overview {
        font-size: 10px;
    }

    .top-movie-rate {
        margin-top: 10px
    }

    .footer {
        padding: 20px 40px;
    }

}

@media screen and (max-width: 480px) {

    .header {
        padding: 10px 10px;
    }

    .header-title {
        margin-right: 10px;
        font-size: 16px;
    }

    .nav-link {
        font-size: 10px;
        padding: 5px 8px;
    }

    .search-input {
        padding: 4px 8px;
        font-size: 10px;
    }

    .search-input::placeholder {
        font-size: 10px;
    }

    .search-svg {
        top: 0;
        right: 5px;
        width: 15px;
    }

    .clear-btn {
        top: 2px;
    }

    .clear-svg {
        width: 15px;
        height: 15px;
    }

    .top-movie-title {
        font-size: 20px;
    }

    .top-movie-description {
        padding: 50px 50px 50px 25px;
    }

    .add-favorite, .watch {
        font-size: 12px;
        padding: 8px 15px;
    }

    .movie-genres {
        font-size: 10px;
    }

    .top-imbd-img {
        transform: scale(0.8);
    }

    .author-name {
        display: none;
    }
}

@media screen and (max-width: 391px) {

    .nav-link {
        font-size: 8px;
    }

    .search-wrapper {
        width: 20%;
    }

    .search-input {
        font-size: 8px;
    }

    .search-input::placeholder {
        font-size: 8px;
    }

    .header-title {
        margin-right: 5px;
    }

    .search-svg {
        display: none;
    }

    .clear-btn {
        top: -2px;
    }

    .clear-svg {
        width: 10px;
        height: 10px;
    }

    .footer {
        padding: 0px 10px;
    }

    .text-copyright {
        font-size: 10px;
    }

    .github-link,
    .rs-link {
        transform: scale(0.5);
    }
}